<header class="navbar bg-primary">
      PowerClassroom v0.1
      <nav class="navbar-nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
      <button
        onclick="document.querySelector('.navbar > nav').classList.toggle('menu-active')">
        <i class="im im-menu-dot-v"></i>
      </button>
</header>