<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Classroom</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/ftdgomez/makeup/src/makeup.css"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/ftdgomez/makeup/src/fonts/gotham.css"
    />
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    {{> _Header}}
    {{{body}}}
</body>
</html>